# Project: CRWD Survey Monkey (organized)
## Object: organizate work from Zhehui Yuan & Yihao
### Author: <font color ='blue'>Xiaojun Yao (Uie)

# <font color='blue'> Import Packages

In [1]:
#import surveymonty
import requests
import json
import random
from itertools import product

import time
import datetime

import pandas as pd
import numpy as np

#### <font color='red'> most important packages <font color='black'>(includes all the functions): process_functions.py

In [2]:
from process_functions import *

# <font color='blue'> 0.0 Import & Translate Dataset

In [3]:
df=pd.read_csv('wr2.csv')

In [4]:
def splitt(str):
    return str.split('+')[-1]

In [5]:
df=pd.read_csv('wr2.csv')
df["OLD METRIC NAME"] = df["METRIC NAME"]
df["METRIC NAME"]=df["METRIC NAME"].apply(lambda x:splitt(x))
df.to_csv('NEW_RATE.csv')
df.head(5)

,ANSWER ID,METRIC NAME,COMPANY NAME,YEAR,VALUE,OLD METRIC NAME
0,2233010.0,Gross Profit,Danaher,2012,9414300000,US Securities & Exchange Comission+Gross Profit
1,2233013.0,Gross Profit,Danaher,2015,10762500000,US Securities & Exchange Comission+Gross Profit
2,2233016.0,Gross Profit,Danaher,2014,9892600000,US Securities & Exchange Comission+Gross Profit
3,2233001.0,Gross Profit,Danaher,2011,8176600000,US Securities & Exchange Comission+Gross Profit
4,2233004.0,Gross Profit,Danaher,2010,6404500000,US Securities & Exchange Comission+Gross Profit

In [6]:
#import goslate
#def translate_to_spanish(x):
#    return gs.translate(x,'de')
#df['SPANISH METRIC NAME']=df['METRIC NAME'].apply(lambda x: translate_to_spanish(x))

In [7]:
df1=df[['METRIC NAME']].drop_duplicates().reset_index(drop=True)
df1.to_excel('translate.xlsx')
df_spanish=pd.read_excel('translated.xlsx')
df_spanish.head()

,METRIC NAME,SPANISH METRIC NAME
0,Gross Profit,Beneficio bruto
1,Research and Development Expense,Gastos de investigación y desarrollo
2,Unrecognized Tax Benefits Reductions Resulting...,Reducciones de beneficios fiscales no reconoci...
3,Effective Income Tax Rate Continuing Operations,Operaciones continuas del tipo efectivo del im...
4,Cost of Goods and Services Sold,Costo de bienes y servicios vendidos

In [8]:
df_spanish = df.merge(df_spanish,on=['METRIC NAME'],how='left' )
df_spanish.to_csv('NEW RATE SPANISH.CSV')
df_spanish.head()

,ANSWER ID,METRIC NAME,COMPANY NAME,YEAR,VALUE,OLD METRIC NAME,SPANISH METRIC NAME
0,2233010.0,Gross Profit,Danaher,2012,9414300000,US Securities & Exchange Comission+Gross Profit,Beneficio bruto
1,2233013.0,Gross Profit,Danaher,2015,10762500000,US Securities & Exchange Comission+Gross Profit,Beneficio bruto
2,2233016.0,Gross Profit,Danaher,2014,9892600000,US Securities & Exchange Comission+Gross Profit,Beneficio bruto
3,2233001.0,Gross Profit,Danaher,2011,8176600000,US Securities & Exchange Comission+Gross Profit,Beneficio bruto
4,2233004.0,Gross Profit,Danaher,2010,6404500000,US Securities & Exchange Comission+Gross Profit,Beneficio bruto

In [9]:
df = df_spanish.drop(['OLD METRIC NAME','METRIC NAME'], axis=1)
df.rename(columns={'SPANISH METRIC NAME':'METRIC NAME'}, inplace=True)
df.head()

   ANSWER ID COMPANY NAME  YEAR        VALUE      METRIC NAME
0  2233010.0      Danaher  2012   9414300000  Beneficio bruto
1  2233013.0      Danaher  2015  10762500000  Beneficio bruto
2  2233016.0      Danaher  2014   9892600000  Beneficio bruto
3  2233001.0      Danaher  2011   8176600000  Beneficio bruto
4  2233004.0      Danaher  2010   6404500000  Beneficio bruto

# <font color='blue'>3.0 Test (only sending 5 questions out)

In [10]:
table0=missing_value_es(df,2016,'Danaher')
table0.head()

,COMPANY NAME,YEAR,METRIC NAME,SURVEY QUESTIONS,QUESTIONID
0,Danaher,2016,% CSPO Usado,¿Tienes respuesta a % CSPO Usado? En caso afir...,201607530000
1,Danaher,2016,&#47 de graduación; Tasa de éxito para estudia...,¿Tienes respuesta a &#47 de graduación; Tasa d...,201607530001
2,Danaher,2016,Abastecimiento de minerales responsablemente a...,¿Tienes respuesta a Abastecimiento de minerale...,201607530002
3,Danaher,2016,Abastecimiento de todos los minerales de forma...,¿Tienes respuesta a Abastecimiento de todos lo...,201607530003
4,Danaher,2016,Abastecimiento sostenible de fibras para papel,¿Tienes respuesta a Abastecimiento sostenible ...,201607530004

In [11]:
question1 = list(table0["SURVEY QUESTIONS"])
question0=["open_ended"]
questions_list=[[x,y] for x in question0 for y in question1]
testing_question = questions_list[0:5]

In [12]:
survey_title = 'Test Survey'
data = [['uieyao1199@gmail.com','Uie','Yao'],['ohnoyeahjin1199@hotmail.com','X','Yao']]
recipients_df = pd.DataFrame(data, columns=["email", "first_name", "last_name"])

testing_results=process(survey_title, testing_question, recipients_df)

survey id: 182726441
page id: 85122378
question id: 309813989
question id: 309813993
question id: 309814006
question id: 309814012
question id: 309814021
collector id: 240644963
message id: 63031151

In [13]:
result_answer=after_survey(testing_results)
result_answer

,"¿Tienes respuesta a % CSPO Usado? En caso afirmativo, por favor especifique; Si no, deje la pregunta en blanco.","¿Tienes respuesta a Abastecimiento de minerales responsablemente a nivel mundial? En caso afirmativo, por favor especifique; Si no, deje la pregunta en blanco.","¿Tienes respuesta a &#47 de graduación; Tasa de éxito para estudiantes de bajos ingresos? En caso afirmativo, por favor especifique; Si no, deje la pregunta en blanco.","¿Tienes respuesta a Abastecimiento de todos los minerales de forma responsable? En caso afirmativo, por favor especifique; Si no, deje la pregunta en blanco.","¿Tienes respuesta a Abastecimiento de minerales responsablemente a nivel mundial? En caso afirmativo, por favor especifique; Si no, deje la pregunta en blanco.","¿Tienes respuesta a Abastecimiento sostenible de fibras para papel? En caso afirmativo, por favor especifique; Si no, deje la pregunta en blanco.","¿Tienes respuesta a Abastecimiento de todos los minerales de forma responsable? En caso afirmativo, por favor especifique; Si no, deje la pregunta en blanco.",collector_id,date_created,date_modified,email_address,first_name,id,ip_address,last_name,survey_id
Renjie_Ding_response,spanish,NaN,spanish,NaN,spanish,NaN,spanish,240644963,2019-07-09T21:22:20+00:00,2019-07-09T21:22:38+00:00,uieyao1199@gmail.com,Renjie,10849192899,4.35.91.70,Ding,182726441
X_Yao_response,NaN,spanish,NaN,spanish,NaN,spanish,NaN,240644963,2019-07-09T21:22:26+00:00,2019-07-09T21:22:44+00:00,ohnoyeahjin1199@hotmail.com,X,10849193088,4.35.91.70,Yao,182726441

In [14]:
result_table = result_table(table0, result_answer, testing_question)
result_table

,SURVEY QUESTIONS,COMPANY NAME,YEAR,Renjie_Ding_response,X_Yao_response
0,¿Tienes respuesta a % CSPO Usado? En caso afir...,Danaher,2016,spanish,NaN
1,¿Tienes respuesta a &#47 de graduación; Tasa d...,Danaher,2016,spanish,NaN
2,¿Tienes respuesta a Abastecimiento de minerale...,Danaher,2016,spanish,spanish
3,¿Tienes respuesta a Abastecimiento de todos lo...,Danaher,2016,spanish,spanish
4,¿Tienes respuesta a Abastecimiento sostenible ...,Danaher,2016,NaN,spanish